<!DOCTYPE html>
<html>
    <head>
        <title>המתכונים שלי</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../favicon.ico">
        <link rel="stylesheet" href="../../Resources/style.css">
    </head>
    <body>
        <nav>
            <img class="logo" src="../../Resources/Logo.png">
            <h1><a href="../../index.html">המתכונים שלי</a></h1>
            <h2><a href="index.html"><!-- שם הקטגוריה --></a></h2>
            <h3><!-- שם המתכון --></h3>
        </nav>

        <div class="ingredientsList">
            <div class="title">מרכיבים</div>
            <div><input type="checkbox"><!-- מרכיב --></div>
        </div>

        <ol class="ingredientsList">
            <div class="title">אופן הכנה</div>
            <li><!-- הוראה --></li>
        </ol>
    </body>
</html>